{
  "presets": [
    ["env", {
      modules: false
    }],
    "react"
  ],
  "plugins": [
    ["transform-imports", {
      "recompose": {
        "transform": "recompose/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
